<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Souvik - Personal Portfolio Website</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">
  
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/static/assets/img/profile.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Souvik Singha</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="/lost" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="/lost" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="/lost" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://github.com/ssouvik577" target="_blank" class="google-plus"><i class="bx bxl-github"></i></a>
          <a href="https://www.linkedin.com/in/souvik-singha-5a1a78282" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Projects</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
          <li><a href="https://drive.google.com/file/d/1aN2WbWzpjZ_e1jFoTq-DV6r9nFKYiNbN/view?usp=sharing" target="_blank" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Get CV</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Welcome Viewer</h1>
      <p><span class="typed" data-typed-items="I am Souvik Singha, An Electrical Engineer, And a Passionate Coder!"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <h3>Who am I?</h3>
          <p>Hello there! I'm Souvik, a B.Tech Electrical Engineer and a skilled Python programmer. I believe in
            the power of technology to transform the world and make it a better place. With a strong foundation
            in electrical engineering principles and a flair for programming, I strive to create innovative
            solutions that bridge the gap between the physical and digital realms</p>
          <h3>Why am I here? </h3>
          <p>In the rapidly evolving world of technology, I understand the importance of continuous learning. I
            am always eager to stay updated with the latest advancements in both electrical engineering and
            software development. This hunger for knowledge drives me to seek out new opportunities and explore
            cutting-edge technologies.
          <h3>Why This Portfolio?</h3>
          <p>
            This portfolio serves as a window into my professional journey, showcasing some of my most exciting
            projects and achievements. Through the showcased works, you will witness my dedication to
            excellence, my problem-solving prowess, and my unwavering commitment to creating impactful
            solutions.
          </p>
          </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="/static/assets/img/pro1.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Electrical Engineer &amp; Python Developer.</h3>
            <p class="fst-italic">
              An adept electrical engineer with a flair for Python coding. They masterfully navigate the realms of circuits and systems, while their expertise in Python allows them to craft elegant solutions to intricate problems. This dual proficiency showcases their versatility and commitment to technological innovation.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>26 May 1999</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 9874789836</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Kolkata, West Bengal</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>24</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor's</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>singhasouvik58@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
              Throughout my academic journey, I have gained a solid foundation in electrical engineering principles and developed proficiency in various software tools and programming languages, including [mention specific tools or languages relevant to the job]. My coursework and projects have provided me with hands-on experience in designing, analyzing, and troubleshooting electrical systems, which I believe will be invaluable in a real-world work environment.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <h3>Coding</h3>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">PYTHON <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">HTML <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">MySQL <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">AWS <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Photoshop <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>
          <div class="section-title">
            <h3>Academic (Electrical)</h3>
          </div>
  
          <div class="row skills-content">
  
            <div class="col-lg-6" data-aos="fade-up">
  
              <div class="progress">
                <span class="skill">AUTOCAD <i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
  
              <div class="progress">
                <span class="skill">DIALUX <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
  
              <div class="progress">
                <span class="skill">PVSyst <i class="val">70%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
  
            </div>
        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>A skilled Electrical Engineer with a decent foundation in coding. Combining technical expertise in electrical systems with proficiency in
            coding languages, excel in designing innovative solutions. With a detail-oriented approach and a passion for problem-solving, I will bring a
            unique blend of engineering and coding skills to deliver exceptional results.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Souvik Singha</h4>
              <p><em>A fresh Graduate Electrical Engineer, having knowledge of Python and other Coding Languages</em></p>
              <ul>
                <li>Baruipur, Kolkata-144</li>
                <li>+91 9874789836</li>
                <li>singhasouvik58@gmail.com</li>
              </ul> 
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Technology in Electrical Engineering</h4>
              <h5>2020 - 2023</h5>
              <p><em>Gargi memorial Institute Of Technology</em></p>
              <p>Maulana Abul Kalam Azad University of Technology, West Bengal</p>
            </div>
            <div class="resume-item">
              <h4>Diploma in in Electrical Engineering</h4>
              <h5>2017 - 2020</h5>
              <p><em>Baruipur Governmenyt Polytechnic</em></p>
              <p>West Bengal State Council of Technical &
                Vocational Education and Skill Development, West Bengal</p>
            </div>
            <h3 class="resume-title">Trainings</h3>
            <div class="resume-item">
              <p>National Power Training Institute(NPTI)</p>
              <p><em>Skill Development Training</em></p>
            </div>
            <div class="resume-item">
              <p>International Institute for Advanced Training on
                Control & Automation</p>
              <p><em>AUTOCAD</em></p>
            </div>
            <div class="resume-item">
              <p>Multi Disciplinary Zonal Training Institute, South
                Eastern Railway, Kharagpur</p>
              <p><em>Vocational Training</em></p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Achievements</h3>
            <div class="resume-item">
              <h4><a href="https://drive.google.com/file/d/17brR_PJMhNPziwny8UMqsITMYadsxkTi/view?usp=sharing" target="_blank">Complete Python Developer:Zero to Mastery on Udemy</a></h4>
              <h5>2023</h5>
              <p><em>Udemy </em></p>
              <ul>
                <li>Basics of Python: I began with the core concepts of Python, understanding data types, variables, loops, and conditional statements, setting the stage for my Python journey.</li>
                <li>Object-Oriented Programming (OOP)</li>
                <li>Advanced Python Libraries</li>
                <li>Web Scraping</li>
                <li>Automations and Testing</li>
                <li> Web Development</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4><a href="https://drive.google.com/file/d/18ym3mg_AGzqNhSuDVp1onv__m19tD-Fo/view?usp=sharing" target="_blank">Amazon Web Services: Basic</a></h4>
              <h5>2023</h5>
              <p><em>Alison</em></p>
              <ul>
                <li>Elastic Compute Cloud(EC2)</li>
                <li>AWS Lambda</li>
                <li>AWS S3</li>
                <li>AWS VPC</li>
                <li>etc.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Web Development : Basic on Udemy</h4>
              <h5>2023</h5>
              <p><em>Udemy</em></p>
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Java Scripts</li>
                <li>Bootstrap</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Personal Projects</h2>
          <p>Engaging in personal projects allows me to explore my interests outside of daily routines, fostering continuous learning and a deep sense of fulfillment.Whether it's crafting, coding, or creating, personal projects provide a platform for me to experiment, learn from failures, and celebrate achievements on my terms.</p>
          </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="https://github.com/ssouvik577/Calculator" target="_blank">Simple Calculator</a></h4>
            <p class="description">I have created a Simple Calculator using tkinter.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="https://github.com/ssouvik577/ImageConverter" target="_blank">Image Converter</a></h4>
            <p class="description">Convert JPG to PNG and PNG to JPG.GUI Implementation to convert file from jpg to png using Python Approach</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="https://github.com/ssouvik577/ChatBot-Helpdesk" target="_blank">Chatbot Helpdesk</a></h4>
            <p class="description">Flask web application receives user input from an HTML form, then sends the input to the OpenAI API for generating a response. The response is displayed in a chat-like interface on the webpage. </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-binoculars"></i></div>
            <h4 class="title"><a href="https://github.com/ssouvik577/Billing-Software" target="_blank">Billing Software</a></h4>
            <p class="description">
              I have developed a billing software using the Tkinter library in Python, offering an intuitive graphical interface for managing and generating invoices.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="title"><a href="https://github.com/ssouvik577/insta-bot" target="_blank">Instagram Auto like Bot</a></h4>
            <p class="description">Using automated scripts to interact with websites, especially social media platforms like Instagram, might violate their terms of service, and they may take actions against accounts engaging in such activities.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <!-- End Testimonials Section -->
    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>For any kind of query feel free to contact with me.</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Baruipur,Kolkata-144</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>singhasouvik58@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 9874789836</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6205.449129732879!2d88.43813141284866!3d22.361853986128544!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a026d138b9a8385%3A0x8d8e34eca6bf88be!2sBLINK%20MEDICAS%20IND!5e0!3m2!1sen!2sin!4v1692799599601!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="send_message" method="post" role="form" class="only_contact">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" placeholder="Devid Smith" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" placeholder="devid@example.com" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" placeholder="Type your quarry subject" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" placeholder="Give a brief of your quarry" name="message" rows="10" required></textarea>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact Section -->

  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Souvik Singha</span></strong>
      </div>
      <div class="credits">
        Recreated by Souvik❤
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/typed.js/typed.umd.js"></script>
  <script src="/static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>
</html>